body{
	 background-color: black;
  	width: 600px;
    height: 1600px;
    margin: 10 auto;
    padding:  10px;
}

main{
	background-color: black;
 	width: 600px;
    height: 1600px;
    margin: 0 auto;
    padding:  10px;
}

#intro{
	font-family: Rock 3D;
	color: white;
	display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 5vw ;
    font-size: 125px;
}

#massage{
	font-family: Rock 3D;
	color: white;
	display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 5vw ;
    font-size: 125px;
    animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

to {
    margin-left: 0%;
    width: 100%;
  }
}



footer {
  text-align: center;
  padding: 10px;

}